<br>
<div
style="width: 100%;height: 125px;flex-direction: row;justify-content: center;" >
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class="to">
  <div style="margin-left: 100px;">
    <a href="home"><img src="../../assets/images/logo1.jpg" alt="" width="750px"></a>
  </div>
<div class="to"
      style=" margin-top: 60px; width: 100%;height: 100%;flex-direction: row; justify-content: end;">

      <i class='fas fa-user-circle' style="font-size:30px"> </i>
      <a>&nbsp;Profile&nbsp;&nbsp;</a>
      <i class="fa fa-sign-out" style="font-size:30px"></i>
      <a href=" " >&nbsp;Log out</a>

    </div>
  </div>
</div><br>



