<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-toolbar class="backgroundMenu">
    <div class="navbar" style="margin:150px;">
      <ul>
        <li class="dropdown-link">
          <a>หน้าแรก
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li>
              <a routerLink="/conference-pdf-file">
                งานประชุม
              </a>
            </li><hr>
            <li>
              <a routerLink="/ImageSlideShow">
                รูปภาพสไลด์
              </a>
            </li><hr>
            <li>
              <a routerLink="/popup">
                Pop Up หน้าแรก
              </a>
            </li><hr>
          </ul>
        </li>
        <li class="dropdown-link">
          <a>เกี่ยวกับเรา
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li><a routerLink="/home">
                ประวัติโรงพยาบาลสัตว์
              </a></li><hr>
              <li class="dropdown-link2">
                <a routerLink="/personnel"> บุคคลากร </a></li><hr>
                <hr>
                    <li><a routerLink="/VMSP">
                      VMSP
                    </a></li><hr>
                    <li><a routerLink="/department">
                      โครงสร้างหน่วยงาน
                    </a></li><hr>
          </ul>
        </li>
        <li class="dropdown-link">
          <a>บริการ
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li><a routerLink="/veterinary-work">
                งานการสัตวแพทย์
              </a></li><hr>
              <li class="dropdown-link2">
                <a> เวรสัตวแพทย์

                </a></li><hr>
            <li><a routerLink="/identify">
                ชันสูตร
              </a></li><hr>
          </ul>
        </li>
        <li class="dropdown-link">
          <a>ข่าวสาร
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li><a routerLink="/news">
                ข่าวประชาสัมพันธ์
              </a></li><hr>
            <li><a routerLink="/academic-service">
                งานบริการวิชาการ
              </a></li><hr>
          </ul>
        </li>

        <li class="dropdown-link">
          <a routerLink="/khowledge">ความรู้ทั่วไป
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li><a routerLink="/khowledge">
                ความรู้
              </a></li><hr>
            <li><a routerLink="/publication">
                เอกสารเผยแพร่
              </a></li><hr>
          </ul>
        </li>
        <li class="dropdown-link">
          <a>อื่นๆ
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li><a routerLink="/contact">
                ติดต่อสอบถาม
              </a></li><hr>
              <li class="dropdown-link2">
                <a routerLink="/agency"> หน่วยงาน
                </a></li><hr>
          </ul>
        </li>
      </ul>
    </div>
</mat-toolbar><br>

