<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-toolbar class="backgroundMenu">
    <div class="navbar" style="margin:auto;">
      <ul>
        <li class="dropdown-link">
          <a>หน้าแรก
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li>
              <a routerLink="/history">
               ข้อมูลการรักษา
              </a>
            </li><hr>
            <li>
              <a routerLink="/history">
                งานประชุม
              </a>
            </li><hr>
            <li>
              <a routerLink="/history">
                ภาพกิจกรรมอื่น
              </a>
            </li><hr>
            <li>
              <a routerLink="/popup">
                Pop Up หน้าแรก
              </a>
            </li><hr>
          </ul>
        </li>
        <li class="dropdown-link">
          <a>เกี่ยวกับเรา
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li><a routerLink="/home">
                ประวัติโรงพยาบาลสัตว์
              </a></li><hr>
              <li class="dropdown-link2">
                <a routerLink="/personnel"> บุคคลากร </a></li><hr>
                <li class="dropdown-link2">
                  <a> ทีมสัตวแพทย์ </a></li><hr>
                  <li class="dropdown-link2">
                    <a> ทีมเจ้าหน้าที่ </a></li><hr>
                    <li><a routerLink="/veterinary-work">
                      แผนงานโรงพยาบาลสัตว์
                    </a></li><hr>
                    <li><a routerLink="/vision-mission">
                      วิสัยทัศน์/พันธกิจ
                    </a></li><hr>
                    <li><a routerLink="/veterinary-work">
                      โครงสร้างหน่วยงาน
                    </a></li><hr>
          </ul>
        </li>
        <li class="dropdown-link">
          <a>บริการ
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li><a routerLink="/veterinary-work">
                งานการสัตวแพทย์
              </a></li><hr>
              <li class="dropdown-link2">
                <a> เวรสัตวแพทย์ <i class="fas fa-angle-left" style="font-size: 17px;" ></i>
                    <div class="dropdown2">
                      <li><a routerLink="/management-team">
                        เพิ่มเวรสัตวแพทย์
                        </a></li><hr>
                      <li><a routerLink="/veterinary-team">
                          ลบเวรสัตวแพทย์
                        </a></li><hr>
                      <li><a routerLink="/officer">
                          แก้ไขเวรสัตวแพทย์
                        </a></li><hr>
                        <li><a routerLink="/officer">
                          ดูเวรสัตวแพทย์
                        </a></li><hr>
                    </div>
                </a></li><hr>
            <li><a routerLink="/identify">
                ชันสูตร
              </a></li><hr>
          </ul>
        </li>
        <li class="dropdown-link">
          <a>ข่าวสาร
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li><a routerLink="/news">
                ข่าวประชาสัมพันธ์
              </a></li><hr>
            <li><a routerLink="/academic-service">
                งานบริการวิชาการ
              </a></li><hr>
          </ul>
        </li>
        <li class="dropdown-link">
          <a routerLink="/press-release" >E-Form/Onlion
          </a>
        </li>
        <li class="dropdown-link">
          <a>ความรู้ทั่วไป
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li><a routerLink="/khowledge">
                ความรู้
              </a></li><hr>
            <li><a routerLink="/publication">
                เอกสารเผยแพร่
              </a></li><hr>
          </ul>
        </li>
        <li class="dropdown-link">
          <a>อื่นๆ
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="dropdown"><hr>
            <li><a routerLink="/khowledge">
                แผนผังเว็บไซต์
              </a></li><hr>
            <li><a routerLink="/publication">
                ติดต่อสอบถาม
              </a></li><hr>
              <li class="dropdown-link2">
                <a> ส่วนล่างของเว็บไซต์
                </a></li><hr>
          </ul>
        </li>
      </ul>
    </div>
</mat-toolbar>

