.positionArea{
  display: flex;
  object-fit: contain;
  flex-direction: column;
  align-items: center ;
}
input{
  margin-left: 100px;
  padding: 10px;
}
.positionAreaRow{
  display: flex;
  padding: 30px;
  flex-direction: row;
}
mat-form-field{
  width: 600px;
}
