<app-header></app-header>
<app-menutoober></app-menutoober>
<br>
<div class="positionArea" *ngFor="let item of this.response.records">
  <img src="{{item.img_VMSA}}" width="500px">
  <input  type="file" (change)="getFile($any($event).target.files)" #img_VMSA>
  <div style="width: 1000px;  margin-left: 20px;">
    <b style="color: rgb(255, 51, 0);">รายละเอียดวิสัยทัศน์ภาษาไทย</b>
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"
      [config]="editorConfig"></angular-editor>
    <br>
    <b style="color: rgb(0, 8, 255);">รายละเอียดวิสัยทัศน์ภาษาอังกฤษ</b>
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent1"
      [config]="editorConfig"></angular-editor>
      <br>
      <b style="color: rgb(255, 51, 0);">รายละเอียดพันธกิจภาษาไทย</b>
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent2"
      [config]="editorConfig"></angular-editor>
    <br>
    <b style="color: rgb(0, 8, 255);">รายละเอียดพันธกิจภาษาอังกฤษ</b>
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent3"
      [config]="editorConfig"></angular-editor>
    <br>
    <b style="color: rgb(255, 51, 0);">รายละเอียดยุทธศาสตร์ภาษาไทย</b>
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent4"
      [config]="editorConfig"></angular-editor>
    <br >
    <b style="color: rgb(0, 8, 255);">รายละเอียดยุทธศาสตร์ภาษาอังกฤษ</b>
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent5"
      [config]="editorConfig"></angular-editor>
    <br>
    <b style="color: rgb(255, 51, 0);">รายละเอียดแผนหน่วยงานภาษาไทย</b>
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent6"
      [config]="editorConfig"></angular-editor>
    <br>
    <b style="color: rgb(0, 8, 255);">รายละเอียดแผนหน่วยงานภาษาอังกฤษ</b>
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent7"
      [config]="editorConfig"></angular-editor>
    <br>
  </div>
  <div class="positionAreaRow">
  <button mat-raised-button color="primary" (click)="updateVMSP()" ><strong>แก้ไข</strong></button> &nbsp;&nbsp;
</div>
</div>

