<div style="display: flex;flex-direction: column;height: 600px;
width: 500px;margin: 20px;">
  <b style="font-size: 20px; color: #0029cd;">เพิ่มหัวข้อความรู้</b> <br>

  <mat-form-field appearance="outline">
    <mat-label>หัวข้อความรู้ภาษาไทย</mat-label>
    <input type="text" #title_news_th matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>หัวข้อความรู้ภาษาอังกฤษ</mat-label>
    <input type="text" #title_news_en matInput >
  </mat-form-field>

  <div style="flex-direction: column;">
    <label style="margin-right: 200px;">รูปภาพ</label>
    <input type="file" name="" id="" (change)="getFile($any($event).target.files)" ><br>
  <br>
<br>

  <button mat-raised-button color="primary" (click)="addkhowledge(title_news_th.value,title_news_en.value)">ถัดไป</button>&nbsp;
  <button  mat-raised-button color="warn" (click)="close()">ยกเลิก</button><br>
</div>



