h4{
  display: flex;
  justify-content: center;
}
.layoutRow{
  flex-direction: column;
}
img{
  padding: 10px;
  display: flex;
  justify-content: center;
   margin: auto;
}
p{
  padding: 20px;
}
a.sticky{
  display: flex;
  margin-left: auto;
  font-size: 20px;
  margin-top: -30px;
  position: sticky;
  position: -webkit-sticky;
  top: 90px;
  width: 20px;
  height: 25px;
  text-decoration: none;
  color: brown;
}
input{
  margin: auto;
}
