<div class="areaShow">
  <div *ngFor="let item of this.response.records">
    <img style="display: flex; margin: auto;" src="{{item.img}}" alt="">
    <input type="file" name="" id="" (change)="getFile($any($event).target.files)"><br><br>
    <div style="display: flex; justify-content: center; flex-direction: column; padding: 20px;">
      <textarea placeholder="รายละเอียดภาษาไทย" cols="100%" rows="20%" matInput #text_th>{{item.text_th}}</textarea><br>
      <textarea placeholder="รายละเอียดภาษาอังกฤษ" cols="100%" rows="20%" matInput #text_en>{{item.text_en}}</textarea>
    </div>
    <!-- <div><button (click)="save(text_th.value,text_en.value,item.id_imgidentify.id_imgidentify,item.id_)">แก้ไข</button></div> -->
  </div>
</div>
