
.titleText{
  display: flex;
  justify-content: center;
}
img{
  object-fit: contain;
  width: 400px;
  height: 400px;
  border: solid 1px #CCC;
}
input{
  display: flex;
  justify-content: center;
  margin-left: 41%;
}
textarea{
  flex-flow: row wrap;
  padding: 20px;
}
mat-label{
  margin-top: -8px;
}
