<app-header></app-header>
<app-menutoober></app-menutoober>
<P Align=center style="font-size: 30px; ">แผนงานโรงพยาบาล</P><br>
<!--Main layout-->

<main style="margin-top: -30px; margin-left: 100px;">
  <div>
    <div style="display: flex;flex-direction: column;width: 80%; ">
      <!-- head -->
      <div style="margin-left: 1%; flex-direction: row; display: flex;">
        <button mat-raised-button color="accent" (click)="addConference()">
          เพิ่มรายงานการประชุม
        </button> &nbsp;
        <input style="width: 380px; margin-top: -6px;" type="text" placeholder="ค้นหาชื่อไฟล์ PDF" name="search" #Search (keyup)="displayResult(Search.value)">&nbsp;
      </div>
      <br>
      <!-- list -->
      <!-- Show -->
      <div style="display: flex; flex-direction: row; ">
        <div style="width: 600px; max-height: 75vh; overflow: auto;">
          <mat-selection-list #item [multiple]="false" (selectionChange)="show($event.options[0])">
            <mat-list-option *ngFor="let item of this.response.records" [value]="item"
              style="width: 500px; height: 160px; ">
              <div >

                ชื่อ : {{item.name}} <br>
                วัน/เวลาในการอัปโหลด : {{item.date}}
              </div>
            </mat-list-option>
          </mat-selection-list>
        </div>

        <!-- Show -->
        <div>
          <div *ngIf="select !=undefined">
            <div style="display: flex; flex-direction: column; margin-left: 100px;">
              <span>ประเภท : {{this.select.id_type_upload.type_name}}</span>
              <span>ชื่อ : {{this.select.name}} </span>
              <span>วัน/เวลาในการอัปโหลด : {{this.select.date}}</span><br>

              <div>
                <!-- แก้ไข -->
                <button mat-raised-button color="primary" (click)="edit()">แก้ไข</button> &nbsp;
                <!-- ลบ -->
                <button mat-raised-button color="warn" (click)="deletePersonnel(this.select.id_upload)">ลบ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main><br>
<!--Main layout-->
