<app-header></app-header>
<app-menutoober></app-menutoober>
<P Align=center style="font-size: 30px; ">รายงานการประชุม</P><br>
<!--Main layout-->
<main style="margin-top: -30px;">
  <div >
    <div style="display: flex;flex-direction: column;width: 80%;">
  <!-- head -->
      <div style="margin-left: 5%;">
        <button (click)="addNew()">
          เพิ่มรายงานการประชุม
        </button>
      </div>
      <!-- list -->
      <!-- Show -->
      <div style="display: flex; flex-direction: row; ">
        <div style="width: 600px;">
          <mat-selection-list #item [multiple]="false" (selectionChange)="show($event.options[0])">
            <mat-list-option *ngFor="let item of this.response.records" [value]="item" style="width: 500px; height: 160px;">
              <div>
                {{item.name}} <br>
                {{item.date}}
              </div>
            </mat-list-option>
          </mat-selection-list>
        </div>

        <!-- Show -->
        <div>
          <div *ngIf="select !=undefined">
            <div style="display: flex; flex-direction: column;">
              <span> {{this.select.name}} </span>
              <span>{{this.select.date}}</span>
              <span> {{this.select.linkfile}}</span>
              <!-- แก้ไข -->
              <!-- <div><button (click)="edit()">แก้ไข</button></div>
              <div><button (click)="deletePersonnel(this.select.id_personnel)">ลบ</button></div> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main><br>
<!--Main layout-->


