<app-header></app-header>
<app-menutoober></app-menutoober>
<br>
<div class="PositionColumn" *ngFor="let item of this.response.records">

    <b style="margin-left: -1150px; color: rgb(255, 51, 0);" >ที่อยู่</b>
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"
      [config]="editorConfig"></angular-editor>
    <br>
    <b style="margin-left: -1090px; color: rgb(255, 51, 0);" >เบอร์โทรศัพท์</b>
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent1"
    [config]="editorConfig"></angular-editor>
  <br>
    <b style="margin-left: -1090px; color: rgb(255, 51, 0);">อีเมล/ติดต่อ</b>
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent2"
    [config]="editorConfig"></angular-editor>
  <br>
   <b style="margin-left: -1100px; color: rgb(255, 51, 0);">Facebook</b>
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent3"
    [config]="editorConfig"></angular-editor>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>ปฎิทินกิจกรรม</mat-label>
    <input type="text" value="{{item.calendar}}" #calendar matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Google Map</mat-label>
    <input type="text" value="{{item.google_Map}}" #google_Map matInput>
  </mat-form-field>
  <button
    (click)="updateContact(calendar.value,google_Map.value)"
    mat-raised-button color="primary">แก้ไข</button>
</div><br>
