<div style="display: flex;flex-direction: column;height: 600px;
width: 500px;margin: 20px;">
  <p>เพิ่มหัวข้องานการสัตวแพทย์</p>

  <mat-form-field appearance="outline">
    <mat-label>หัวข้องานการสัตวแพทย์</mat-label>
    <input type="text" #type_th matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>หัวข้อวันเวลาที่ให้บริการ</mat-label>
    <input type="text" #type_en matInput >
  </mat-form-field>

  <div style="flex-direction: column;">
    <label style="margin-right: 200px;">รูปภาพ</label>
    <input type="file" name="" id="" (change)="getFile($any($event).target.files)" ><br>
  <br>
<br>

  <button mat-raised-button color="primary" (click)="addNew(type_th.value,type_en.value)">ถัดไป</button>&nbsp;
  <button  mat-raised-button color="warn" (click)="close()">ยกเลิก</button><br>
</div>



