<div style="display: flex;flex-direction: column;height: 600px;
width: 500px;margin: 20px;">
  <p>เพิ่มทีมผู้บริหาร</p>
  <label>คำนำหน้าภาษาไทย</label>
  <input type="text" name="name_prefix_th" #name_prefix_th>

  <label>คำนำหน้าภาษาอังกฤษ</label>
  <input type="text" name="name_prefix_en" #name_prefix_en>

  <label>ชื่อ-สกุลภาษาไทย</label>
  <input type="text" name="name_th " #name_th>

  <label>ชื่อ-สกุลภาษาอังกฤษ</label>
  <input type="text" name="name_en " #name_en>

  <label>ความถนัดภาษาไทย</label>
  <input type="text" name="aptitude_th " #aptitude_th>

  <label>ความถนัดภาษาอังกฤษ</label>
  <input type="text" name="aptitude_en " #aptitude_en>

  <label>ตำเเหน่งวิชาการภาษาไทย</label>
  <input type="text" name="academic_position_th " #academic_position_th>

  <label>ตำเเหน่งวิชาการภาษาอังกฤษ</label>
  <input type="text" name="academic_position_en " #academic_position_en>

  <label>ประเภทบุคลากรภาษาไทย</label>
  <input type="text" name="type_personnel_th " #type_personnel_th>

  <label>ประเภทบุคลากรภาษาอังกฤษ</label>
  <input type="text" name="type_personnel_en " #type_personnel_en>

  <label>อีเมล</label>
  <input type="text" name="email" #email>

  <label>เบอร์โทรศัพท์</label>
  <input type="text" name="phone" #phone>

  <div style="flex-direction: column;">
  <label style="margin-right: 200px;">รูปภาพ</label>
  <input type="file" name="" id="" (change)="getFile($any($event).target.files)" ><br>
  <button (click)="upload()">Upload file</button><br>
  <a href="{{this.url}}" target="_blank">{{this.url}}</a><br>
</div>

  <!-- <button (click)="addNew(name_prefix_th.value,name_prefix_en.value,name_th.value,name_en.value,aptitude_th.value,aptitude_en.value,
  academic_position_th.value,academic_position_en.value,type_personnel_th.value,type_personnel_en.value,email.value,phone.value,picture.value)">Add</button> -->
  <button (click)="close()">close</button><br>
</div>


