<h1 mat-dialog-title>เเจ้งเตือนรหัสผ่านของคุณ</h1>
<div *ngFor="let item of this.showadmin.records">
  <label>ชื่อ : <strong>{{item.name}}</strong></label><br>
  <label>อีเมล : <strong>{{item.email}}</strong></label><br>
  <label>รหัสผ่าน : <strong>{{item.password}}</strong></label><br>
</div>
<div mat-dialog-actions style="flex-direction: row-reverse; display: flex;">
  <button mat-button mat-dialog-close style="background-color: blue; color: aliceblue;" routerLink="/">เข้าสู่ระบบ</button>
</div>
