.image {
  opacity: 1;
  display: block;
  width: 15%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

