<app-header></app-header>
<app-menutoober></app-menutoober>
<P Align=center style="font-size: 30px; "></P><br>


<!--Main layout-->
<main style="margin-top: -30px; margin-left: 100px;">
  <div >
    <div style="display: flex;flex-direction: column;width: 80%;">
  <!-- head -->
      <div style="margin-left: 5%;">
        <button mat-raised-button color="accent"
        (click)="addNew()">
          เพิ่มข่าวประชาสัมพันธ์
        </button>
      </div>
      <!-- list -->
      <div style="display: flex; flex-direction: row; ">
        <div style="width: 600px;">
          <mat-selection-list #item [multiple]="false" (selectionChange)="show($event.options[0])">
            <mat-list-option *ngFor="let item of this.reTitleNews.records" [value]="item" style="width: 500px; height: 160px;">
              <div>
                {{item.type_th}}
                <img src="{{item.img}}" class="image" style="width: 100px;">
              </div>
            </mat-list-option>
          </mat-selection-list>
        </div>

        <!-- Show -->
        <div>
          <div *ngIf="select !=undefined">
            <div style="display: flex; flex-direction: column; margin-left: 20px;">
              <img src="{{this.select.img}}" width="500px">
              <span>หัวข้อ : {{this.select.type_th}}</span>
              <span>วันที่เพิ่ม : {{this.select.date}}</span>
              <div>
              <button mat-raised-button color="accent" (click)="editTypeNews()">แก้ไขหัวข้อข่าว</button> &nbsp;
              <button mat-raised-button color="primary" (click)="edit()">แก้ไขเนื้อหาข่าว</button> &nbsp;
              <button mat-raised-button color="warn" (click)="deleteNews(this.select.id_type_news)">ลบ</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main><br>
<!--Main layout-->


