<app-header></app-header>
<app-menutoober></app-menutoober>
<br>
<div>
  <div *ngFor="let item of this.response.records" style="flex-direction: column;display: flex;" >
    <img src="{{item.img_department_structure}}" width="500px">
    <input  type="file" (change)="getFile($any($event).target.files)"><br>
    <div style="width: 1000px;  margin-left: 270px;">
      <b style="color: rgb(255, 51, 0);">รายละเอียดโครงสร้างหน่วยงานภาษาไทย</b>
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"
      [config]="editorConfig"></angular-editor>
    <br>

    <b style="color: rgb(0, 8, 255);">รายละเอียดโครงสร้างหน่วยงานภาษาอังกฤษ</b>
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent1"
      [config]="editorConfig"></angular-editor>
    <br>
    </div>


    <button (click)="updateImg()" mat-raised-button color="primary">แก้ไข</button>
  </div>
</div><br>

