.fxLayout{
    position: relative;
    display: flex;
    justify-content: center;
  
  }
  
  .footerline{
    display: flex;
    justify-content: center;
  
  }
  .content {
    padding:9px;
    clear:both;
    width:40px;
    height :800px;
  
  }
  
  