<div class="fxLayout" style="
    width: 100%;
    height : 94%;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color: #9e9d9d;
">
  <mat-card >
    <mat-card-header>
      <mat-card-title class="fxLayout" style="width: 400px;flex-direction:row;justify-content:center; ">
        <mat-icon> lock </mat-icon>
        Forgot Password
      </mat-card-title>
      <mat-card-subtitle><a routerLink="/" style="text-decoration: none; color: cornflowerblue;">want to login</a></mat-card-subtitle>

    </mat-card-header>

    <div class="fxLayout"
    style="margin-top: 30px;flex-direction:row; justify-content:center"
    >
    <div class="fxLayout"
    style="flex-direction:column; justify-content:center; width: 400px"
    >
      <mat-form-field appearance="outline">
        <mat-label><mat-icon> email </mat-icon> Email</mat-label>
        <input matInput type="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label><mat-icon> lock </mat-icon> Password</mat-label>
        <input matInput type="password" />
      </mat-form-field>
    </div>
  </div>
  <mat-card-actions class="fxLayout"style="flex-direction: column;justify-content:space-between ">
    <div >
    </div>

      <button mat-flat-button color="primary">
        <a routerLink="/" style="text-decoration: none; color: rgb(250, 248, 248);">Submit</a>
      </button>
  </mat-card-actions>
  </mat-card>
</div>

