<div style="height: 700px;width: 500px;">
  <h5 style="margin-left: 10px; margin-top: 20px;">แก้ไขความรู้</h5><br><br>
  <div *ngFor="let item of this.response.records">

    <div style="width: 800px; margin-left: 145px;">
      <b>รายละเอียดความรู้</b>
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"
        [config]="editorConfig"></angular-editor>
      <br>
    </div>

    <div  style="width: 800px; margin-left: 420px;">
      <img src="{{item.img}}" ><br>
      <input type="file" name="" id="" (change)="getFile($any($event).target.files)">
      <div style="display: flex; flex-direction: row; margin-top: 3px;">
        <button mat-raised-button color="primary" (click)="save()">แก้ไข</button>
        <button style="margin-left: 10px;" mat-raised-button color="warn"
          (click)="deleteNews(item.id_knowledge)">ลบ</button><br><br>
      </div>
    <button mat-raised-button (click)="close()">ปิด</button><br><br>
  </div>
</div>
</div>
