<app-header></app-header>
<app-menutoober></app-menutoober>
<div *ngFor="let item of this.response.records">
  <img class="image" id="show" src="{{item.img_history}}">
  <p><input type="file" name="" id="" style="margin-left: 100px; " (change)="getFile($any($event).target.files)"
      #img_history></p>
  <br>
  <div style="width: 1000px;  margin-left: 250px;">
    <b style="color: rgb(255, 51, 0);">ประวัติความเป็นมาภาษาไทย</b>
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"
      [config]="editorConfig"></angular-editor>
    <br>
    <b style="color: rgb(0, 8, 255);">ประวัติความเป็นมาภาษาอังกฤษ</b>
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent1"
      [config]="editorConfig"></angular-editor>
  </div><br>
  <button mat-raised-button color="primary" style="display: flex;justify-content: center;"
    (click)="updateHistory(img_history.value,htmlContent,htmlContent1)">แก้ไข</button> &nbsp;&nbsp;
</div>
