<div style="display: flex;flex-direction: column;height: 600px;
width: 500px;margin: 20px;">
  <p>เพิ่มข้อมูลงานประชุม</p>

  <mat-form-field appearance="outline">
    <mat-label>ชื่อข้อมูลงานประชุม	</mat-label>
    <input type="text" #name matInput >
  </mat-form-field>

  <!-- <mat-form-field appearance="outline">
    <mat-label>วันที่อัพโหลด</mat-label>
    <input type="text" #date matInput >
  </mat-form-field> -->

  <div style="flex-direction: column;">
  <label style="margin-right: 200px;">ลิงค์</label>
  <input type="file" name="" id="" (change)="getFile($any($event).target.files)" ><br>
</div><br>

  <button (click)="addNew(name.value)">Add</button>
  <button (click)="close()">close</button><br>
</div>


