<div style="display: flex;flex-direction: column;height: 600px;
width: 500px;margin: 20px;" >
  <p>แก้ไขบุคลากร</p>

  <mat-form-field appearance="outline">
    <mat-label>คำนำหน้าภาษาไทย</mat-label>
    <input type="text" #name_prefix_th value="{{countries.name_prefix_th}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>คำนำหน้าภาษาอังกฤษ</mat-label>
    <input type="text" #name_prefix_en value="{{countries.name_prefix_en}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ชื่อ-สกุลภาษาไทย</mat-label>
    <input type="text" #name_th value="{{countries.name_th}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ชื่อ-สกุลภาษาอังกฤษ</mat-label>
    <input type="text" #name_en value="{{countries.name_en}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ความถนัดภาษาไทย</mat-label>
    <input type="text" #aptitude_th value="{{countries.aptitude_th}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ความถนัดภาษาอังกฤษ</mat-label>
    <input type="text" #aptitude_en value="{{countries.aptitude_en}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ตำเเหน่งวิชาการภาษาไทย</mat-label>
    <input type="text" #academic_position_th value="{{countries.academic_position_th}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ตำเเหน่งวิชาการภาษาอังกฤษ</mat-label>
    <input type="text" #academic_position_en value="{{countries.academic_position_en}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ประเภทบุคลากรภาษาไทย</mat-label>
    <mat-select [(value)]="selected_th">
      <mat-option value="ทีมผู้บริหาร">ทีมผู้บริหาร</mat-option>
      <mat-option value="ทีมสัตวเเพทย์">สัตวเเพทย์</mat-option>
      <mat-option value="ทีมเจ้าหน้าที่">ทีมเจ้าหน้าที่</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ประเภทบุคลากรภาษาอังกฤษ</mat-label>
    <mat-select [(value)]="selected_en">
      <mat-option value="Executive">Executive</mat-option>
      <mat-option value="Veterinarian">Veterinarian</mat-option>
      <mat-option value="Officer">Officer</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>อีเมล</mat-label>
    <input type="text" #email value="{{countries.email}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>เบอร์โทรศัพท์</mat-label>
    <input type="text" #phone matInput value="{{countries.phone_number}}">
  </mat-form-field>

  <div style="flex-direction: column;">
    <label style="margin-right: 200px;">รูปภาพ</label>
    <input type="file" name="" id="" (change)="getFile($any($event).target.files)"><br>
  </div>
  <div style="flex-direction:row;">
  <button mat-raised-button color="primary" (click)="save(name_prefix_th.value,name_prefix_en.value,name_th.value,name_en.value,aptitude_th.value,aptitude_en.value,
  academic_position_th.value,academic_position_en.value,selected_th,selected_en,email.value,phone.value,countries.id_personnel)">แก้ไข</button> &nbsp;
  <button mat-raised-button color="warn" (click)="close()">ปิด</button></div><br>
</div>
