<div style="display: flex;flex-direction: column;height: 600px;
width: 500px;margin: 20px;" >
  <p>แก้ไขบุคลากร</p>

  <mat-form-field appearance="outline">
    <mat-label>คำนำหน้าภาษาไทย</mat-label>
    <mat-select [(value)]="selected_perfix_th">
      <mat-option value="รศ.น.สพ.ดร.">รศ.น.สพ.ดร.</mat-option>
      <mat-option value="รศ.ดร.">รศ.ดร.</mat-option>
      <mat-option value="ผศ.สพ.ญ.ดร.">ผศ.สพ.ญ.ดร.</mat-option>
      <mat-option value="ผศ.น.สพ.ดร.">ผศ.น.สพ.ดร.</mat-option>
      <mat-option value="ผศ.ดร.">ผศ.ดร.</mat-option>
      <mat-option value="ผศ.สพ.ญ">ผศ.สพ.ญ</mat-option>
      <mat-option value="ผศ.น.สพ.">ผศ.น.สพ.</mat-option>
      <mat-option value="อ.สพ.ญ.ดร.">อ.สพ.ญ.ดร.</mat-option>
      <mat-option value="อ.น.สพ.ดร.">อ.น.สพ.ดร.</mat-option>
      <mat-option value="อ.น.สพ.">อ.น.สพ.</mat-option>
      <mat-option value="อ.สพ.ญ.">อ.สพ.ญ.</mat-option>
      <mat-option value="นาง">นาง</mat-option>
      <mat-option value="นางสาว">นางสาว</mat-option>
      <mat-option value="นาย">นาย</mat-option>
      <mat-option value="ศาสตราจารย์">ศาสตราจารย์</mat-option>
      <mat-option value="นายสัตวแพทย์">นายสัตวแพทย์</mat-option>
      <mat-option value="สัตวแพทย์หญิง">สัตวแพทย์หญิง</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>คำนำหน้าภาษาอังกฤษ</mat-label>
    <mat-select  [(value)]="selected_perfix_en">
      <mat-option value="Assoc.Prof.N.D.Dr.">Assoc.Prof.N.D.Dr.</mat-option>
      <mat-option value="Assoc. Prof. Dr.">Assoc. Prof. Dr.</mat-option>
      <mat-option value="Asst.Prof.Dr.">Asst.Prof.Dr..</mat-option>
      <mat-option value="Asst.Prof.Dr.Dr.">Asst.Prof.Dr.Dr.</mat-option>
      <mat-option value="Asst. Prof. Dr.">Asst. Prof. Dr.</mat-option>
      <mat-option value="Asst.Prof.Ed.">Asst.Prof.Ed.</mat-option>
      <mat-option value="Asst.Prof.Dr.Ed.">Asst.Prof.Dr.Ed.</mat-option>
      <mat-option value="Associate Professor Dr.">Associate Professor Dr.</mat-option>
      <mat-option value="Associate Professor Dr.">Associate Professor Dr.</mat-option>
      <mat-option value="n.p.c.">n.p.c.</mat-option>
      <mat-option value="Teacher">Teacher</mat-option>
      <mat-option value="Mrs.">Mrs.</mat-option>
      <mat-option value="Ms.">Ms.</mat-option>
      <mat-option value="Mr.">Mr.</mat-option>
      <mat-option value="professor">professor</mat-option>
      <mat-option value="	DR.">	DR.</mat-option>

    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>คำนำหน้าภาษาอังกฤษ</mat-label>
    <input type="text" #name_prefix_en value="{{countries.name_prefix_en}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ชื่อ-สกุลภาษาไทย</mat-label>
    <input type="text" #name_th value="{{countries.name_th}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ชื่อ-สกุลภาษาอังกฤษ</mat-label>
    <input type="text" #name_en value="{{countries.name_en}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ความถนัดภาษาไทย</mat-label>
    <input type="text" #aptitude_th value="{{countries.aptitude_th}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ความถนัดภาษาอังกฤษ</mat-label>
    <input type="text" #aptitude_en value="{{countries.aptitude_en}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ตำเเหน่งวิชาการภาษาไทย</mat-label>
    <input type="text" #academic_position_th value="{{countries.academic_position_th}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ตำเเหน่งวิชาการภาษาอังกฤษ</mat-label>
    <input type="text" #academic_position_en value="{{countries.academic_position_en}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ประเภทบุคลากรภาษาไทย</mat-label>
    <mat-select [(value)]="selected_th">
      <mat-option value="ทีมผู้บริหาร">ทีมผู้บริหาร</mat-option>
      <mat-option value="ทีมสัตวเเพทย์">สัตวเเพทย์</mat-option>
      <mat-option value="ทีมเจ้าหน้าที่">ทีมเจ้าหน้าที่</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ประเภทบุคลากรภาษาอังกฤษ</mat-label>
    <mat-select [(value)]="selected_en">
      <mat-option value="Executive">Executive</mat-option>
      <mat-option value="Veterinarian">Veterinarian</mat-option>
      <mat-option value="Officer">Officer</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>อีเมล</mat-label>
    <input type="text" #email value="{{countries.email}}" matInput >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>เบอร์โทรศัพท์</mat-label>
    <input type="text" #phone matInput value="{{countries.phone_number}}">
  </mat-form-field>

  <div style="flex-direction: column;">
    <label style="margin-right: 200px;">รูปภาพ</label>
    <img src="{{countries.picture}}">
    <input type="file" name="" id="" (change)="getFile($any($event).target.files)"><br>
  </div>
  <div style="flex-direction:row-reverse;">
  <button mat-raised-button color="primary" (click)="save(selected_perfix_th,selected_perfix_en,name_th.value,name_en.value,aptitude_th.value,aptitude_en.value,
  academic_position_th.value,academic_position_en.value,selected_th,selected_en,email.value,phone.value,countries.id_personnel)">แก้ไข</button> &nbsp;
  <button mat-raised-button color="warn" (click)="close()">ปิด</button></div><br>
</div>
