<app-header></app-header>
<app-menutoober></app-menutoober><br>
<P Align=center style="font-size: 30px;">แก้ไขทีมผู้บริหาร</P><br>
<div class="container">
  <form action="/action_page.php">
    <label for="fname">คำนำหน้า</label>
    <input type="text" id="fname" name="firstname" placeholder="คำนำหน้า">

    <label for="fname">ชื่อ-สกุล</label>
    <input type="text" id="fname" name="firstname" placeholder="ชื่อ-สกุล">

    <label for="fname">อีเมล</label>
    <input type="text" id="fname" name="firstname" placeholder="อีเมล">

    <label for="fname">เบอร์โทรศัพท์</label>
    <input type="text" id="fname" name="firstname" placeholder="เบอร์โทรศัพท์">

    <label for="lname">ความถนัด</label>
    <input type="text" id="lname" name="lastname" placeholder="ความถนัด">

    <label for="lname">ตำแหน่งวิชาการ</label>
    <input type="text" id="lname" name="lastname" placeholder="ตำแหน่งวิชาการ">

    <label for="lname">ประเภทบุคลากร</label>
    <input type="text" id="lname" name="lastname" placeholder="ประเภทบุคลากร">

    <label for="lname">รูปภาพ</label>
    <input type="text" id="lname" name="lastname" placeholder="รูปภาพ">

    <input type="submit" value="Submit">
    <input type="cancel" value="Cancel">
  </form>
</div><br>
